@import url(global.css);
.manage-table {
    margin: 2% 0;
    background-color: #fff;
    border-radius: 5px;
}


/* table top with two bars nav */

.top-nav-manage-table {
    display: flex;
    justify-content: space-between;
    padding: 1.3% 4%;
    background-color: #fff;
    border-bottom: 1px solid rgb(221, 219, 219);
}

.top-nav-manage-table>button {
    padding: 1% 2%;
    border-radius: 19px;
    background-color: #282724;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.top-nav-manage-table>button>i {
    color: var(--bg-main);
    font-size: 15px;
}


/*  table top with two bars nav */

.second-nav-bar-manage-table {
    display: flex;
    justify-content: space-between;
    padding: 1.3% 4%;
    background-color: #fff;
    font-size: 15px;
    color: #434343;
}

.second-nav-bar-manage-table>p {
    width: max-content;
}

.second-nav-bar-search {
    display: flex;
    align-items: center;
}

.second-nav-bar-search>input {
    padding: 2%;
    margin-left: 2%;
    border: 1px solid rgb(184, 184, 184);
}

.manage-leads-main-table-first>th {
    background-color: var(--bg-main);
    padding: 1%;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.manage-leads-main-table-second>td {
    text-align: center;
}

.manage-leads-main-table-second:hover {
    background-color: rgb(236, 236, 236);
}

.manage-leads-table-yellow-button {
    background-color: var(--bg-main);
    width: 60px;
    border-radius: 10px;
    color: #fff;
    line-height: 23px;
    margin-left: 30%;
}

.manage-leads-table-blue-button {
    background-color: #5cb85c;
}

.manage-leads-main-table-second>td:first-child {
    padding: 1%;
}

.manage-leads-main-table-second>td:last-child {
    padding: 1%;
}

.manage-leads-main-table-second>td:nth-child(4) {
    background-color: rgb(243, 243, 243);
}

.manage-leads-main-table-first-icons>i {
    padding: 6%;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.manage-leads-main-table-first-icons>i:nth-child(2) {
    background-color: #5cb85c;
}

.manage-leads-main-table-first-icons>i:last-child {
    background-color: #d9534f;
}